# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user

# Build outputs
bin/
obj/
Debug/
Release/
x64/
x86/

# Build files
*.pdb
*.lib
*.exp
*.ilk
*.idb
*.pch
*.ipch
*.ncb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# NuGet Packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Backup files
*.bak
*.tmp
*~

# Log files
*.log